body {
	background-color: #DDCAD9;
}

#homephoto {
	background: url("homephoto3.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

h1{
	color: white;
	font-size: 70px;
}

h2{

	font-size: 70px;
}

p{

	font-size: 20px;
}

.topnav {
	background-color: #AA7BC3;
	overflow: hidden;
}

.topnav a {
	float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #DDDDDD;
   color: black;
}

.topnav a.active {
   background-color: #808080;
   color: white;
}

ol {
	list-style-type: none;
}
